<a href="https://colab.research.google.com/github/amritanshkm/CITS4403-Project/blob/main/01_Insolvency_and_Wealth.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#AFSA Insolvency and Wealth Data

Using the AFSA data, we will analyse the relationship the relationship between insolvency/bankruptcy and wealth distribution. This process includes:

1. Data Preparation
2. Exploratory Data Analysis
3. Generating visualisations, outputs, and observations

#Data Preparation

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#personal insolvency
#regional insolvency

pinsol = '/content/drive/MyDrive/CITS4403/quarterly_personal_insolvencies.csv'
rinsol = '/content/drive/MyDrive/CITS4403/regional_quarterly_time_series.csv'

In [32]:
import pandas as pd

pinsolpd = pd.read_csv(pinsol)
rinsolpd = pd.read_csv(rinsol)

In [33]:
pinsolpd

,Quarter,Type of personal insolvency administration,State,In a business or company,Number of people entering a new personal insolvency,Unnamed: 5,Unnamed: 6
0,Sep-07,Debtor's petition,New South Wales,Yes,641,NaN,NaN
1,Sep-07,Debtor's petition,Victoria,Yes,377,NaN,NaN
2,Sep-07,Debtor's petition,Queensland,Yes,367,NaN,NaN
3,Sep-07,Debtor's petition,South Australia,Yes,96,NaN,NaN
4,Sep-07,Debtor's petition,Western Australia,Yes,81,NaN,NaN
...,...,...,...,...,...,...,...
15115,Jun-25,Total personal insolvencies,Northern Territory,Total,11,NaN,NaN
15116,Jun-25,Total personal insolvencies,Western Australia,Total,236,NaN,NaN
15117,Jun-25,Total personal insolvencies,Tasmania,Total,79,NaN,NaN
15118,Jun-25,Total personal insolvencies,Other,Total,229,NaN,NaN
15119,Jun-25,Total personal insolvencies,Total,Total,3179,NaN,NaN

In [34]:
#checking NA values

pinsolpd.info()

rinsolpd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15120 entries, 0 to 15119
Data columns (total 7 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Quarter                                              15120 non-null  object
 1   Type of personal insolvency administration           15120 non-null  object
 2   State                                                15120 non-null  object
 3   In a business or company                             15120 non-null  object
 4   Number of people entering a new personal insolvency  15120 non-null  int64
 5   Unnamed: 5                                           0 non-null      float64
 6   Unnamed: 6                                           0 non-null      float64
dtypes: float64(2), int64(1), object(4)
memory usage: 827.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78624 entries, 0 to 78623
Data columns (total 6 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Quarter                                              78624 non-null  object
 1   State                                                78624 non-null  object
 2   ASGS Code                                            78624 non-null  object
 3   ASGS Name                                            78624 non-null  object
 4   In a business or company                             78624 non-null  object
 5   Number of people entering a new personal insolvency  78624 non-null  object
dtypes: object(6)
memory usage: 3.6+ MB

Pinsol has two empty columns due to the structure of the csv file. Deleting them.

There are otherwise no NA values, but many columns are incorrect data types.

Additionally, quarters are

In [35]:
pinsolpd = pinsolpd.drop(['Unnamed: 5', 'Unnamed: 6'], axis = 1)

pinsolpd['Quarter'] = pd.to_datetime(pinsolpd['Quarter'], format='%b-%y').dt.to_period('Q')

pinsolpd['Type of personal insolvency administration'] = (
    pinsolpd['Type of personal insolvency administration'].astype('category')
)

pinsolpd['State'] = (
    pinsolpd['State'].astype('category')
)

pinsolpd['In a business or company'] = (
    pinsolpd['In a business or company'].astype('category')
)

pinsolpd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15120 entries, 0 to 15119
Data columns (total 5 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Quarter                                              15120 non-null  period[Q-DEC]
 1   Type of personal insolvency administration           15120 non-null  category
 2   State                                                15120 non-null  category
 3   In a business or company                             15120 non-null  category
 4   Number of people entering a new personal insolvency  15120 non-null  int64
dtypes: category(3), int64(1), period[Q-DEC](1)
memory usage: 281.5 KB

In [41]:
rinsolpd['Quarter'] = pd.to_datetime(rinsolpd['Quarter'], format='%b-%y').dt.to_period('Q')


rinsolpd['State'] = (
    rinsolpd['State'].astype('category')
)

rinsolpd['In a business or company'] = (
    rinsolpd['In a business or company'].astype('category')
)

rinsolpd['Number of people entering a new personal insolvency'] = pd.to_numeric(
    rinsolpd['Number of people entering a new personal insolvency'],
    errors='coerce'
)

rinsolpd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78624 entries, 0 to 78623
Data columns (total 6 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Quarter                                              78624 non-null  period[Q-DEC]
 1   State                                                78624 non-null  category
 2   ASGS Code                                            78624 non-null  object
 3   ASGS Name                                            78624 non-null  object
 4   In a business or company                             78624 non-null  category
 5   Number of people entering a new personal insolvency  60823 non-null  float64
dtypes: category(2), float64(1), object(2), period[Q-DEC](1)
memory usage: 2.5+ MB

Wealth inequality datas

In [42]:
w1 = '/content/drive/MyDrive/CITS4403/CSV/Income, wealth and debt/Table 3.1-Table 1.csv'

In [43]:
w1pd = pd.read_csv(w1)
w1pd

,Australian Bureau of Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,"Household Income and Wealth, Australia: Summar...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Released at 11:30 am (CANBERRA TIME) 28 April ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Table 3.1 HOUSEHOLD NET WORTH DECILES, Gross h...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,HOUSEHOLD NET WORTH DECILES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,All households,NaN,NaN,NaN,NaN
4,NaN,Lowest,Second,Third,Fourth,Fifth,Sixth,Seventh,Eighth,Ninth,Highest,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,All households,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,np not published,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,© Commonwealth of Australia 2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#Exploratory Data Analysis

#Outputs

#Observations and Summary